In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('economic_freedom_index2019_data.csv', encoding = 'ISO-8859-1')

In [8]:
df.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 34 columns):
CountryID                      186 non-null int64
Country Name                   186 non-null object
WEBNAME                        186 non-null object
Region                         186 non-null object
World Rank                     180 non-null float64
Region Rank                    180 non-null float64
2019 Score                     180 non-null float64
Property Rights                185 non-null float64
Judical Effectiveness          185 non-null float64
Government Integrity           185 non-null float64
Tax Burden                     180 non-null float64
Gov't Spending                 183 non-null float64
Fiscal Health                  183 non-null float64
Business Freedom               185 non-null float64
Labor Freedom                  184 non-null float64
Monetary Freedom               184 non-null float64
Trade Freedom                  182 non-null float64
Investment Freedom             184 non-null float64
Financial Freedom              181 non-null float64
Tariff Rate (%)                182 non-null float64
Income Tax Rate (%)            183 non-null float64
Corporate Tax Rate (%)         183 non-null float64
Tax Burden % of GDP            179 non-null float64
Gov't Expenditure % of GDP     182 non-null float64
Country                        186 non-null object
Population (Millions)          186 non-null object
GDP (Billions, PPP)            185 non-null object
GDP Growth Rate (%)            184 non-null float64
5 Year GDP Growth Rate (%)     183 non-null float64
GDP per Capita (PPP)           184 non-null object
Unemployment (%)               181 non-null object
Inflation (%)                  182 non-null float64
FDI Inflow (Millions)          181 non-null object
Public Debt (% of GDP)         182 non-null float64
dtypes: float64(24), int64(1), object(9)
memory usage: 49.5+ KB

In [13]:
df.isnull().sum()/len(df)*100

CountryID                      0.000000
Country Name                   0.000000
WEBNAME                        0.000000
Region                         0.000000
World Rank                     3.225806
Region Rank                    3.225806
2019 Score                     3.225806
Property Rights                0.537634
Judical Effectiveness          0.537634
Government Integrity           0.537634
Tax Burden                     3.225806
Gov't Spending                 1.612903
Fiscal Health                  1.612903
Business Freedom               0.537634
Labor Freedom                  1.075269
Monetary Freedom               1.075269
Trade Freedom                  2.150538
Investment Freedom             1.075269
Financial Freedom              2.688172
Tariff Rate (%)                2.150538
Income Tax Rate (%)            1.612903
Corporate Tax Rate (%)         1.612903
Tax Burden % of GDP            3.763441
Gov't Expenditure % of GDP     2.150538
Country                        0.000000
Population (Millions)          0.000000
GDP (Billions, PPP)            0.537634
GDP Growth Rate (%)            1.075269
5 Year GDP Growth Rate (%)     1.612903
GDP per Capita (PPP)           1.075269
Unemployment (%)               2.688172
Inflation (%)                  2.150538
FDI Inflow (Millions)          2.688172
Public Debt (% of GDP)         2.150538
dtype: float64

In [16]:
df[df.isnull().any(axis=1)]

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
42,42,Cuba,Cuba,Americas,178.0,31.0,27.8,31.6,10.0,37.7,...,Cuba,11.5,$148.0,0.9,1.9,"$12,920",2.6,5.5,NaN,47.7
47,47,Dominica,Dominica,Americas,72.0,14.0,63.6,49.2,63.8,54.5,...,Dominica,0.1,$0.8,-4.2,0.0,"$11,102",NaN,0.6,18.9,87.6
78,77,Iraq,Iraq,Middle East and North Africa,NaN,NaN,NaN,37.0,12.3,20.3,...,Iraq,38.9,$658.8,-0.8,4.7,"$16,954",8.2,0.1,"-5,032.4",58.0
87,86,Kiribati,Kiribati,Asia-Pacific,168.0,41.0,47.3,44.1,34.3,35.1,...,Kiribati,0.1,$0.2,3.1,3.6,"$1,976",NaN,2.2,1.4,26.3
88,87,"Korea, North",NorthKorea,Asia-Pacific,180.0,43.0,5.9,31.6,5.0,24.4,...,"Korea, North",25.4,$40.0 (2015 est.),1.1,NaN,"$1,700 (2015 est.)",4.8,NaN,63.4,NaN
90,185,Kosovo,Kosovo,Europe,51.0,26.0,67.0,57.2,53.5,44.7,...,Kosovo,1.9,$19.6,4.1,3.4,"$10,515",NaN,1.5,3.6,20.9
98,96,Libya,Libya,Middle East and North Africa,NaN,NaN,NaN,7.6,24.4,15.8,...,Libya,6.4,$64.4,70.8,-7.9,"$9,986",17.7,28.0,NaN,4.7
99,97,Liechtenstein,Liechtenstein,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,Liechtenstein,"38,000 ppl.",$6.1 CHF (2014 ),NaN,NaN,"$139,100 (2009 est.)",2.1 (2016),NaN,NaN,NaN
113,111,Micronesia,Micronesia,Asia-Pacific,149.0,38.0,51.9,7.6,26.6,36.6,...,Micronesia,0.1,$0.3,2.0,0.7,"$3,393",NaN,0.5,NaN,24.5
147,145,Seychelles,Seychelles,Sub-Saharan Africa,87.0,6.0,61.4,58.2,37.5,39.2,...,Seychelles,0.1,$2.7,4.2,4.9,"$28,779",NaN,2.9,191.9,63.3
153,184,Somalia,Somalia,Sub-Saharan Africa,NaN,NaN,NaN,33.7,26.6,7.9,...,Somalia,14.3,$18.70,1.8,2.2,NaN,6.0,NaN,384.0,NaN
161,159,Syria,Syria,Middle East and North Africa,NaN,NaN,NaN,37.0,24.4,20.3,...,Syria,18.4,NaN,NaN,NaN,NaN,14.9,NaN,NaN,NaN
183,181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,...,Yemen,30.0,$38.6,-13.8,-16.1,"$1,287",14.0,4.9,-269.9,141.0

In [3]:
df.dropna(inplace=True,axis=0)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 185
Data columns (total 34 columns):
CountryID                      173 non-null int64
Country Name                   173 non-null object
WEBNAME                        173 non-null object
Region                         173 non-null object
World Rank                     173 non-null float64
Region Rank                    173 non-null float64
2019 Score                     173 non-null float64
Property Rights                173 non-null float64
Judical Effectiveness          173 non-null float64
Government Integrity           173 non-null float64
Tax Burden                     173 non-null float64
Gov't Spending                 173 non-null float64
Fiscal Health                  173 non-null float64
Business Freedom               173 non-null float64
Labor Freedom                  173 non-null float64
Monetary Freedom               173 non-null float64
Trade Freedom                  173 non-null float64
Investment Freedom             173 non-null float64
Financial Freedom              173 non-null float64
Tariff Rate (%)                173 non-null float64
Income Tax Rate (%)            173 non-null float64
Corporate Tax Rate (%)         173 non-null float64
Tax Burden % of GDP            173 non-null float64
Gov't Expenditure % of GDP     173 non-null float64
Country                        173 non-null object
Population (Millions)          173 non-null object
GDP (Billions, PPP)            173 non-null object
GDP Growth Rate (%)            173 non-null float64
5 Year GDP Growth Rate (%)     173 non-null float64
GDP per Capita (PPP)           173 non-null object
Unemployment (%)               173 non-null object
Inflation (%)                  173 non-null float64
FDI Inflow (Millions)          173 non-null object
Public Debt (% of GDP)         173 non-null float64
dtypes: float64(24), int64(1), object(9)
memory usage: 47.3+ KB

In [4]:
df['Population (Millions)'] = pd.to_numeric(df['Population (Millions)'])

In [5]:
df['GDP (Billions, PPP)'] = pd.to_numeric(df['GDP (Billions, PPP)'].replace('[\$,]', '', regex=True).astype(float))

In [6]:
df['GDP per Capita (PPP)'] = pd.to_numeric(df['GDP per Capita (PPP)'].replace('[\$,]', '', regex=True).astype(float))

In [7]:
df['Unemployment (%)'] = pd.to_numeric(df['Unemployment (%)'])

In [8]:
df['FDI Inflow (Millions)'] = pd.to_numeric(df['FDI Inflow (Millions)'].replace('[\$,]', '', regex=True).astype(float))

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 185
Data columns (total 34 columns):
CountryID                      173 non-null int64
Country Name                   173 non-null object
WEBNAME                        173 non-null object
Region                         173 non-null object
World Rank                     173 non-null float64
Region Rank                    173 non-null float64
2019 Score                     173 non-null float64
Property Rights                173 non-null float64
Judical Effectiveness          173 non-null float64
Government Integrity           173 non-null float64
Tax Burden                     173 non-null float64
Gov't Spending                 173 non-null float64
Fiscal Health                  173 non-null float64
Business Freedom               173 non-null float64
Labor Freedom                  173 non-null float64
Monetary Freedom               173 non-null float64
Trade Freedom                  173 non-null float64
Investment Freedom             173 non-null float64
Financial Freedom              173 non-null float64
Tariff Rate (%)                173 non-null float64
Income Tax Rate (%)            173 non-null float64
Corporate Tax Rate (%)         173 non-null float64
Tax Burden % of GDP            173 non-null float64
Gov't Expenditure % of GDP     173 non-null float64
Country                        173 non-null object
Population (Millions)          173 non-null float64
GDP (Billions, PPP)            173 non-null float64
GDP Growth Rate (%)            173 non-null float64
5 Year GDP Growth Rate (%)     173 non-null float64
GDP per Capita (PPP)           173 non-null float64
Unemployment (%)               173 non-null float64
Inflation (%)                  173 non-null float64
FDI Inflow (Millions)          173 non-null float64
Public Debt (% of GDP)         173 non-null float64
dtypes: float64(29), int64(1), object(4)
memory usage: 47.3+ KB

In [9]:
df.drop(['CountryID','Country Name','WEBNAME'], axis=1, inplace=True)

In [61]:
df.head()

,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,Gov't Spending,Fiscal Health,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,91.7,80.3,99.3,...,Afghanistan,35.5,69.6,2.5,2.9,1958.0,8.8,5.0,53.9,7.3
1,Europe,52.0,27.0,66.5,54.8,30.6,40.4,86.3,73.9,80.6,...,Albania,2.9,36.0,3.9,2.5,12507.0,13.9,2.0,1119.1,71.2
2,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,76.4,48.7,18.7,...,Algeria,41.5,632.9,2.0,3.1,15237.0,10.0,5.6,1203.0,25.8
3,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,83.9,80.7,58.2,...,Angola,28.2,190.3,0.7,2.9,6753.0,8.2,31.7,-2254.5,65.3
4,Americas,148.0,26.0,52.2,47.8,44.5,33.5,69.3,49.5,33.0,...,Argentina,44.1,920.2,2.9,0.7,20876.0,8.7,25.7,11857.0,52.6

In [10]:
dfDummies = pd.get_dummies(df['Region'], prefix = 'Region')

In [11]:
df = pd.concat([df, dfDummies], axis=1)

# Modeling

In [12]:
X = df.drop(['Region','Country','World Rank','Region Rank','2019 Score'],axis=1)
y = df['World Rank']

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

Random Forest

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

/home/diegofvargas/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [17]:
gridsearch_forest = RandomForestRegressor()

params = {
    "n_estimators": [50,60,70],
    "max_depth": [18,19,20],
    "min_samples_leaf" : [1, 2, 3]
}

clf = GridSearchCV(gridsearch_forest, param_grid=params, cv=5 )
clf.fit(X_train,y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': [50, 60, 70], 'max_depth': [18, 19, 20], 'min_samples_leaf': [1, 2, 3]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [18]:
clf.best_params_

{'max_depth': 18, 'min_samples_leaf': 1, 'n_estimators': 60}

In [19]:
clf.best_score_

0.847180193510418

In [92]:
cross_val_score(clf, X, y, cv=10)

array([0.89249747, 0.84533355, 0.93585648, 0.87652692, 0.8027192 ,
       0.88302626, 0.8951516 , 0.74831187, 0.91183084, 0.83522121])

In [20]:
from sklearn.ensemble import GradientBoostingRegressor

In [30]:
clf = GradientBoostingRegressor(n_estimators=60,max_depth=20,min_samples_leaf=2)
clf.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=20, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=2,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=60, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [31]:
print(clf.score(X_test, y_test))

0.869448657365666

In [32]:
cross_val_score(clf, X, y, cv=10)

array([0.84595661, 0.86444108, 0.96135548, 0.8349218 , 0.84232103,
       0.76845629, 0.84862683, 0.63834108, 0.83295118, 0.77086365])

Neural Network

In [13]:
from sklearn.neural_network import MLPRegressor

In [14]:
from sklearn.preprocessing import StandardScaler

In [78]:
scaler = StandardScaler()  
scaler.fit(X_train)
X_scale = scaler.transform(X)
X_train_scale = scaler.transform(X_train)  
X_test_scale = scaler.transform(X_test)

In [69]:
mlp = MLPRegressor(hidden_layer_sizes=(10000),random_state=101, learning_rate='adaptive', max_iter=1000)

In [81]:
mlp.fit(X_train_scale,y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=10000, learning_rate='adaptive',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=101,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [82]:
print(mlp.score(X_test_scale,y_test))

0.6617829173088164

In [79]:
cross_val_score(mlp, X_scale, y, cv=10)

array([0.94366629, 0.90534603, 0.9231404 , 0.98012604, 0.84186819,
       0.96077882, 0.95833272, 0.94109318, 0.97230059, 0.80259311])